.loginBox{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    border: 2px solid rgb(180, 176, 176);
}

.btn{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    padding:10px;
    border: 2px solid rgb(180, 176, 176);
    border-radius: 5px;
    position: relative;
    top: 50px;
    left: 10%;
    width: 323px;
    background-color: rgb(110, 217, 251);
}
.btn:hover{
    background-color: rgba(110, 217, 251, 0.5);
    cursor: pointer;
}

.images{
    width: 200px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.idBox{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 10px;
    position: relative;
    top: 30px;
    left: 10%;
    background-color: transparent;
    height: 27px;
    width: 300px;
    border: 2px solid rgba(100, 100, 100, 0.23);
    border-radius: 7px;
}
.idBox:hover{
    border: 2px solid black;
}
.idBox:focus-visible{
    outline: none!important;
    border: 2px solid #1976d2;
}